*,
*::before,
*::after
    box-sizing: border-box

body
    background-image: url(https://wallpapercave.com/wp/ItmVuT6.jpg)
    background-size: contain
    font-family: 'Ubuntu', sans-serif
    color: white

    h1
        text-align: center
        text-transform: uppercase

    .personaje
        font-size: 25px
        text-align: center
        display: block
        margin-bottom: 10px

    #personaje
        font-size: 16px
        display: block
        width: 200px
        margin: 0 auto

    .container
        width: 90%
        margin: 0 auto

        h2
            color: #808B97

            span
                font-weight: normal
                color: #fff

        p
            font-weight: bold
            color: #808B97

            span
                font-weight: normal
                color: #fff

        .card
            background-color: rgba(255, 255, 255, .2)
            box-shadow: -3px 3px 10px 3px rgb(255,255,255)
            border-radius: 20px
            margin: 15px 0 15px 0
            padding: 20px
            width: 100%

            .carta
                display: flex
                flex-wrap: nowrap
                justify-content: space-between

                .info
                    width: 50%

                .image
                    text-align: center
                    width: 50%

                    img
                        width: 250px
