*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(https://wallpapercave.com/wp/ItmVuT6.jpg);
  background-size: contain;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

body h1 {
  text-align: center;
  text-transform: uppercase;
}

body .personaje {
  font-size: 25px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

body #personaje {
  font-size: 16px;
  display: block;
  width: 200px;
  margin: 0 auto;
}

body .container {
  width: 90%;
  margin: 0 auto;
}

body .container h2 {
  color: #808B97;
}

body .container h2 span {
  font-weight: normal;
  color: #fff;
}

body .container p {
  font-weight: bold;
  color: #808B97;
}

body .container p span {
  font-weight: normal;
  color: #fff;
}

body .container .card {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -3px 3px 10px 3px white;
  border-radius: 20px;
  margin: 15px 0 15px 0;
  padding: 20px;
  width: 100%;
}

body .container .card .carta {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

body .container .card .carta .info {
  width: 50%;
}

body .container .card .carta .image {
  text-align: center;
  width: 50%;
}

body .container .card .carta .image img {
  width: 250px;
}
